//déclaration des variables
@couleurVert : #73aa4c;
@couleurNavigation : #1c1c1c;
@couleurFond : #2c2c2c;
@couleurTxt : lighten(@couleurNavigation, 70%);

html {
  box-sizing: border-box;
  font-family: 'Roboto';
}

*, *:before, *:after {
  box-sizing: inherit;
}

table{
	border:  solid 1px black;
}
